<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_includes.html :: head_files"></head>

<title>Reset your password</title>
<body
	style="margin: 0; color: #6a6f8c; background: #c8c8c8; font: 600 16px/18px 'Open Sans', sans-serif;">

	<div class="row" style="margin-right: 0; margin-left: 0;">

		<div class="col-md-6 mx-auto p-0">
			<div class="card" style="border: 0px;background: #c8c8c8;">
				<div class="login-box" style="margin-top:100; min-height:400px">
					<div class="login-snip">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
						<label for="tab-1" class="tab">Forget Password</label> 
						<input id="tab-2" type="radio" name="tab" class="sign-up">
							<label class="tab"></label>
							
						<div class="login-space">
							<div class="login">
								<!-- Post to the login form -->
								<form action="#" th:action="@{/forgot_password_form}"
									method="post">
									<!-- User Name -->
									<div
										th:if="${user_name_error != null && user_name_error.length() > 0}">
										<div class="group">
											<span th:text="${user_name_error}" class="inputError"></span>
										</div>
									</div>
									<div class="group">
										<label for="title" class="label">User name:</label> <input
											type="text" class="input" id="user_name" name="user_name"
											placeholder="User name">
										<!-- col-md-8 -->
									</div>
									<!--  row -->
									<div class="group">
										<span>
											<button type="submit" class="button">Reset password</button>
										</span>
										<div style="padding-top: 1em;"></div>
										<span> 
										<a th:href="@{/}" id="cancel" name="cancel"	class="button" style="text-align:center;">Cancel</a>
										</span>
									</div>
								</form>
							</div>
							<!-- container -->

							<div class="sign-up-form"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>