<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>S3 Images List</h1>
		<br />
		<table border="1" cellpadding="10" >
			<thead>
				<tr>
					<th>Files ID</th>

					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${itemName}">
					<td><img th:src="${product.key}"
						style="width: 200px; height: 150px;" /></td>
					<td><a th:href="@{/home/delete/(value=${product.value})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>