
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_includes.html :: head_files"></head>
<title>Reset Password</title>
<body style="margin: 0; color: #6a6f8c; background: #c8c8c8; font: 600 16px/18px 'Open Sans', sans-serif;">
	<div class="row" style="margin-right: 0; margin-left: 0;">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="box">
				This form is used to reset a user's password with an emailed code.
				You can use the <a th:href="@{/forgot_password}">forgotten
					password</a> form to request a reset code.
			</div>
		</div>
		<div class="col-md-3"></div>
		<div
			th:if="${reset_password_error != null && reset_password_error.length() > 0}">
			<div class="row">
				<div th:text="${reset_password_error}" class="box inputError"></div>
			</div>
		</div>
	</div>
	
	
	
	<div class="row" style="margin-right: 0; margin-left: 0;">
		<div class="col-md-6 mx-auto p-0">
			<div class="card" style="border: 0px; background: #c8c8c8;">
				<div class="login-box" style="margin-top: 80; min-height: 600px">
					<div class="login-snip">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
						<label for="tab-1" class="tab">Reset Password</label> <input
							id="tab-2" type="radio" name="tab" class="sign-up"> <label
							class="tab"></label>

						<div class="login-space">
							<div class="login">

								<form action="#" th:action="@{/reset_password_form}"
									method="post">
									<!-- User Name -->
									<div
										th:if="${user_name_error != null && user_name_error.length() > 0}">
										<div class="group">
												<span th:text="${user_name_error}" class="inputError"></span>
										</div>
									</div>
									<div class="group">
										<label for="title" class="label">User name:</label>
										<!--  if the user name is OK, fill it in so the user doesn't have to keep retyping it if, for
			      example, the password and the duplicate password don't match. -->
											<div
												th:if="${user_name_val != null && user_name_val.length() > 0}">
												<input class="input" type="text" id="user_name"
													name="user_name" th:value="${user_name_val}">
											</div>
											<div
												th:unless="${user_name_val != null && user_name_val.length() > 0}">
												<input class="input" type="text" id="user_name"
													name="user_name" placeholder="User name">
										</div>
									</div>
									<!--  group -->
									<!-- Reset code -->
									<div
										th:if="${reset_code_error != null && reset_code_error.length() > 0}">
										<div class="group">
												<span th:text="${reset_code_error}" class="inputError"></span>
										</div>
									</div>
									<div class="group">
										<label for="title" class="label">Password Reset Code:</label>
											<input class="input" type="text" id="reset_code"
												name="reset_code" placeholder="Reset Code">
										<!-- col-sm-8 -->
									</div>
									<!--  group -->
									<!-- New Password -->
									<div
										th:if="${new_password_error != null && new_password_error.length() > 0}">
										<div class="group">
											<span th:text="${new_password_error}" class="inputError"></span>
										</div>
									</div>
									<div class="group">
										<label for="title" class="label">New Password:</label>
											<input class="input" type="password" id="new_password"
												name="new_password" placeholder="Password">
										<!-- col-sm-8 -->
									</div>
									<!--  group -->
									<!-- Confirm Password -->
									<div
										th:if="${verify_password_error != null && verify_password_error.length() > 0}">
										<div class="group">
											<span th:text="${verify_password_error}" class="inputError"></span>
										</div>
									</div>
									<div class="group">
										<label for="title" class="label">Verify Password:</label>
											<input class="input" type="password" id="verify_password"
												name="verify_password" placeholder="Password">
										<!-- col-sm-8 -->
									</div>
									<!--  group -->
									<div class="group">
											<span>
												<button type="submit" class="button">Reset
													Password</button>
											</span> 
											<div style="padding-top: 1em;"></div>
											<span> <a th:href="@{/}" id="cancel" name="cancel"
												class="button" style="text-align:center;">Cancel</a>
											</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>